/**
* variables
*/
$border-color: #3a2b2baf;
$main-background-color: hsl(0, 17%, 8%);
$lighter-background-color: rgb(40 28 28 / 33%);
$card-background: rgb(82 82 82);
$card-color: #fff;
$titleEmph-color: #a54343;
$glow1: #be7777;
$glow2: rgb(119 170 190);

/**
* Fonts
*/
@font-face {
    font-family: "kamikaze";
    src: url("fonts/Kamikaze.ttf");
}

@font-face {
  font-family: "DM Sans";
  src: url("fonts/DMSans-Regular.ttf");
}
/**
* Layout
*/

* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}
body {
  background: $main-background-color;
  color: #fff;
  display: block;
  font-family: "DM Sans", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1rem;
  width: 100%;
  overflow-x: hidden;
}
header {
  width: 100%;
  min-height: 4rem;
  border-bottom: 2px solid $border-color;
  background: $main-background-color;
  font-size: 1.2rem;
  z-index:2;
}
.siteName {
    font-family: kamikaze;
    font-size:1.2rem;
    letter-spacing: 0.3ch;
    width: 14rem;
    transform: skew(-10deg) scaleY(1.05);
    margin:1rem auto;
}
.links {
  display: flex;
  justify-content: space-around;
  width:90%;
  margin: 0 auto 1rem auto;
  p a{
    text-decoration: none;
    color: #fff;
    cursor: pointer;
    padding: 1ch;
    font-size: 1rem;
    &:hover{
      background: $glow2;
    }
  }
}
main {
  width: 100%;
  margin: 1rem auto;
  font-size: 1.2rem;
}
h2{
  font-size: 1.4ch;
  font-family: 'Courier New', Courier, monospace;
  font-weight: 700;
  transform:scaleY(1.25);
}
.topArea, .bottomArea {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  margin: 0 auto;
}
.mainText {
  font-size: 1rem;
}
.mainTitle {
  max-width: 320px;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1.8rem;
  margin: 0.5rem auto;
  font-family: 'Courier New', Courier, monospace;
}
.titleEmph {
  display: inline-block;
  background: $titleEmph-color;
  border: 2px solid $border-color;
  padding: 0.5rem 0.4rem 0.5rem 0.4rem;
  margin: 0.5rem 2rem 0.5rem 2rem;
  font-size: 2rem;
  transform: rotate(-5deg);
  text-align: center;
}
.pitch {
  width: 80%;
  max-width: 500px;
  margin: 0 auto;
  p {
    margin: 2rem 1rem;
    line-height: 1.5rem;
    font-size: 1rem;
  }
}

.illustration {
  width: 40%;
  aspect-ratio: 1.5;
  margin: 0 auto;
  transform:rotate(5deg);
  background-image: url(../images/wagyu-steak-unsplash\ \(Small\).webp);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: -2ch 0ch;
}
.sushi {
  width: 50ch;
  background-image: url(../images/Wagyu-sushi.webp);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: 0ch 2ch;
  margin-left: 3ch;
  border-radius: 1ch;
}
.copy{
    max-width: 80%;
    margin: 0 auto;
  p {
    margin: 2ch 0;
    line-height: 2rem;
    text-align: justify;
  }
}
.cardArea {
  width: 100%;
  min-height: 24ch;
  margin: 4ch 0 0ch 0;
}
.cards {
  max-width: 100%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  gap: 2%;
  justify-content: center;
}
.card {
  position: relative;
  width: 90%;
  background: $card-background;
  color: $card-color;
  border: 1px solid $border-color;
  box-shadow: 0.3ch 0.3ch 0.2ch 0.1ch $glow1;
  border-radius: 1ch;
  margin: 0 0 1rem 0;
  p {
    margin: 0.5rem;
    line-height: 1.3rem;
  }

  button {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem auto;
    border-radius: 1ch;
    border:none;
    background: $glow1;
    color: #fff;
    font-size: 1.4rem;
  }
}
.cardTitle {
  font-size: 1.2rem;
  line-height: 1.2rem;
  margin: 1rem;
  font-weight: 700;
  font-family: 'Courier New', Courier, monospace;
  text-align: center;
}
.alternate {
  box-shadow: 0.3ch 0.3ch 0.2ch 0.1ch $glow2;
  button {
    background: $glow2;
    color: #fff;
    font-size: 1.4rem;
  }
}
.pitch2{
  max-width: 80%;
  margin: 1rem auto;
  text-align: justify;
  p {
    margin: 1rem 0;
    line-height: 1.8rem;
  }
  p a{
    color:white;
    text-decoration:none;
  }
}
.separator {
  width:10rem;
  height:0.2rem;
  margin: 0.5rem auto 2.5rem auto;
  border-color: $card-background;
}