/**
* variables
*/
$border-color: #3a2b2baf;
$main-background-color: hsl(0, 17%, 8%);
$lighter-background-color: rgb(40 28 28 / 33%);
$card-background: rgb(82 82 82);
$card-color: #fff;
$titleEmph-color: #a54343;
$glow1: #be7777;
$glow2: rgb(119 170 190);

/**
* Fonts
*/
@font-face {
    font-family: "kamikaze";
    src: url("fonts/Kamikaze.ttf");
}

@font-face {
  font-family: "DM Sans";
  src: url("fonts/DMSans-Regular.ttf");
}
/**
* Layout
*/

* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}
body {
  background: $main-background-color;
  color: #fff;
  display: grid;
  font-family: "DM Sans", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1rem;
  max-width: 100%;
  overflow-x: hidden;
}
header {
  width: 80ch;
  margin: 0 auto;
  height: 4rem;
  border-bottom: 2px solid $border-color;
  background: $main-background-color;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.2rem;
  position:fixed;
  left: calc(50% - 40ch);
  z-index:2;
}
.siteName {
    font-family: kamikaze;
    font-size:1.5rem;
    letter-spacing: 0.3ch;
    transform: skew(-10deg) scaleY(1.05);
}
.links {
  display: flex;
  justify-content: space-between;
  width: 30ch;
  p a{
    text-decoration: none;
    color: #fff;
    cursor: pointer;
    padding: 1ch;
    font-size: 1.5rem;
    &:hover{
      background: $glow2;
    }
  }
}
main {
  width: 100%;
  margin: 5ch auto;
  font-size: 1.2rem;
}
h2{
  font-size: 2ch;
  font-family: 'Courier New', Courier, monospace;
  font-weight: 700;
  transform:scaleY(1.25);
}
.topArea, .bottomArea {
  display: flex;
  width: 80ch;
  margin: 0 auto;
}
.mainText {
  font-size: 1.4rem;
}
.mainTitle {
  max-width: 20ch;
  font-size: 3rem;
  font-weight: 700;
  line-height: 2.5rem;
  margin: 1.3ch 0;
  font-family: 'Courier New', Courier, monospace;
}
.titleEmph {
  display: inline-block;
  background: $titleEmph-color;
  border: 2px solid $border-color;

  padding: 0.5ch 0.8ch 0.5ch 0.8ch;
  margin: 0.8ch 3ch 1.5ch 3ch;
  font-size: 3rem;
  transform: rotate(-10deg);
}
.pitch {
  max-width: 50ch;
  p {
    margin: 2ch 0;
    line-height: 2rem;
    font-size: 1.6rem;
  }
}

.illustration {
  width: 50ch;
  transform:rotate(5deg);
  background-image: url(../images/wagyu-steak-unsplash.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 0ch 3ch;
  margin-left: 3ch;
}
.sushi {
  width: 50ch;
  background-image: url(../images/Wagyu-sushi.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: 0ch 2ch;
  margin-left: 3ch;
  border-radius: 1ch;
}
.copy{
  width: 50ch;
  
  p {
    margin: 2ch 0;
    line-height: 2rem;
    font-size:1.4rem;
    text-align: justify;
  }
}
.cardArea {
  width: 100%;
  height: 24ch;
  margin: 10ch 0 0ch 0;
  background: linear-gradient(#4e222280, $main-background-color);
  border-top: 1px solid $card-background;
  display: flex;
}
.cards {
  //max-width: 100ch;
  margin: 0 auto;
  display: flex;
}
.card {
  position: relative;
  top: -6.5ch;
  padding: 1.2ch;
  width: 20ch;
  height: 26ch;
  background: $card-background;
  color: $card-color;
  border: 1px solid $border-color;
  box-shadow: 0.3ch 0.3ch 0.2ch 0.1ch $glow1;
  border-radius: 1ch;
  margin-right: 3ch;
  p {
    margin: 1ch 0;
    line-height: 1.8rem;
  }
  &:hover{
    transform:scale(1.05);
    transition: transform 700ms ease;
    cursor: pointer;
  }

  button {
    position: absolute;
    bottom: 2ch;
    width: 18ch;
    height: 5ch;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2ch 0 0 0;
    border-radius: 1ch;
    border:none;
    background: $glow1;
    color: #fff;
    font-size: 1.4rem;
    &:hover {
      background: #fff;
      color: $glow1;
      font-weight: 700;
      transition: background 700ms ease;
      border: 1px solid $glow1;
    }
  }
}
.cardTitle {
  font-size: 1.8rem;
  line-height: 1.8rem;
  margin-bottom: 1ch;
  font-weight: 700;
  font-family: 'Courier New', Courier, monospace;
  text-align: center;
}
.cardPitch{
    height: 20ch;
    overflow: hidden;
}
.alternate {
  box-shadow: 0.3ch 0.3ch 0.2ch 0.1ch $glow2;
  button {
    background: $glow2;
    color: #fff;
    font-size: 1.4rem;
    &:hover {
      background: #fff;
      color: $glow2;
      cursor: pointer;
      border: 1px solid $glow2;
    }
  }
}
.pitch2{
  margin-top: 2ch;
  max-width: 34ch;
  text-align: justify;
  p {
    margin: 1ch 0;
    line-height: 1.8rem;
  }
  p a{
    color:white;
    text-decoration:none;
  }
}
.separator {
  width:20ch;
  height:0.4ch;
  margin: 0 auto 3.5ch auto;
  border-color: $card-background;
}